{% load static %}
<aside class="hidden md:hidden lg:flex sm:flex-col w-[12%] bg-[#EFE5FF] h-full">
    <a href="#"
        class="flex items-center justify-center h-20 w-[100%] hover:bg-purple-500 focus:bg-purple-500">
        <img src="./images/image 1.png" alt="">
    </a>
    <div class="flex flex-col justify-between text-black h-[90vh]">
        <nav class="flex flex-col justify-center mx-2 my-6 space-y-4 sidebar">

            <button href="#"
                className="inline-flex flex-col items-center justify-center py-1 hover:text-white hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                 onclick="showPage1()">
                <div class="ico"> <img src="../img/dash.png" alt="" class="w-5"></div>
                <p class="">Home</p>
            </button>
            <button href="#"
                className="inline-flex flex-col items-center justify-center py-1 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                >
                <div class="ico"> </div>
                <p class="">Transactions</p>
            </button>
            <button href="#"
                className="inline-flex flex-col items-center justify-center py-1 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                 onclick=""> {% comment %} showPage2() {% endcomment %}
                <div class="ico"> </div>
                <a href="{% url 'payments:payment' %}"><p class="">Payments</p></a>
            </button>
            <button href="#"
                className="inline-flex flex-col items-center justify-center py-1 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                >
                <div class="ico"> </div>
                <p class="">Invoices</p>
            </button>
            <button href="#"
                className="inline-flex flex-col items-center justify-center py-1 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                >
                <div class="ico"> </div>
                <p class="">Reports</p>
            </button>


        </nav>
        <div class="inline-flex items-center justify-center h-20 w-20 border-gray-700">
            <button href="#"
                className="inline-flex flex-col items-center justify-center py-1 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                data-page="page2">
                <div class="ico"> <i data-feather="circle" class="w-5"></i></div>
                <p class="">Log Out</p>
            </button>
        </div>
    </div>
</aside>