<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Identification</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="./styles/facetest.css">
</head>

<body>
    <section class="flex flex-col justify-between h-[100vh] w-full">
        <div class="flex flex-col items-center w-full">
            <div class=" ">
                <h1 class="text-[36px] font-bold mt-10">Generate Health Code</h1>
            </div>
            <div class="mt-10 text-[28px]">
                <h2>Face Identification Scan</h2>

                <main id="camera">
                    <canvas id="camera--sensor"></canvas>
                    <video id="camera--view" autoplay playsinline muted="true"></video>
                    <img src="//:0" alt="" id="camera--output" />
                    <!-- <button >⚪</button> -->
              

            </div>

            <div class="flex flex-col items-center">
                <div class="">
                    <button class="rounded border bg-[#008080] w-[200px] text-white p-3 mt-6" id="camera--trigger">Scan Face</button>
                </div>
                <div class="mt-3 fixed" id="camera--trig">
                    <p>Place your face directly into the centre of the webcam</p>
                </div>
            </div>

            <div class="hidden flex flex-col items-center">
                <div class="w-[100%] md:w-[100%]">
                    <button class="rounded border border-[#008080] w-[200px]  text-black p-3 mt-6">Scan Again</button>
                </div>
                <div>
                    <button class="rounded border bg-[#008080] w-[200px]  text-white p-3 mt-6"><a href='{% url "face" %}'>Continue</a></button>
                </div>
            </div>

        </main>
        </div>

        <footer class="pl-4">
            <div>Powered by Civicnexa software ©
                <script>new Date().getFullYear() > 2017 && document.write(new Date().getFullYear());</script>
            </div>

        </footer>
    </section>
    <script src="./js/test.js"></script>
</body>

</html>