{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Identification</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'facetest.css' %}">
</head>

<body>
    <section class="flex flex-col justify-between h-[100vh] w-full">
        <div class="flex flex-col items-center w-full">
            <div class=" ">
                <h1 class="text-[26px] md:text-[36px] font-bold mt-10">Generate Health Code</h1>
            </div>
            <div class="mt-10 text-[22px] md:text-[28px] flex flex-col items-center w-full">
                <h2>Face Identification Scan</h2>

                <main id="camera">
                    
                    <video id="camera--view" autoplay playsinline muted="true"></video>
 

            </div>

            <div class="flex flex-col items-center" id="hidecam">
                <div class="" onclick="show()">
                    <button class="rounded border bg-[#008080] w-[200px] text-white p-3 mt-6" id="camera--trigger" >Scan Face</button>
                </div>
                <div class="mt-3" id="camera--trig">
                    <p class="text-[12px] md:text-[16px]">Place your face directly into the centre of the webcam</p>
                </div>
            </div>

            <div class="hidden flex flex-col items-center" id="show">
                {% comment %} <canvas id="camera--sensor"></canvas> {% endcomment %}
                <img src="//:0" alt="" id="camera--sensor" />
                <div class="w-[100%] md:w-[100%]" onclick="rescan()">
                    <button class="rounded border border-[#008080] w-[200px]  text-black p-3 mt-6">Scan Again</button>
                </div>
                {%csrf_token%}
                <div>
                    <button id="uploadImage" class="rounded border bg-[#008080] w-[200px]  text-white p-3 mt-6">Continue</button>
                </div>
            </div>

        </main>
        </div>
        <footer class="pl-4">
            <div>Powered by Civicnexa software ©
                <script>new Date().getFullYear() > 2017 && document.write(new Date().getFullYear());</script>
            </div>

        </footer>
    </section>
    <script src="{% static 'test.js' %}"></script>
    <script>
        document.getElementById('uploadImage').addEventListener('click', function () {
            uploadImage();
        });
    
        function getCSRFToken() {
            var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            return csrfToken;
        }
    
        function uploadImage() {
            var imageSrc = document.getElementById('camera--sensor').src;
            var csrfToken = getCSRFToken();
    
            // Check if the image source is not the default one
            if (imageSrc !== "//:0") {
                // Make an AJAX request to a Django view
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'face' %}", true);
                
                // Include the CSRF token in the request headers
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
    
                // Send the image source as JSON data
                xhr.send(JSON.stringify({ imageSrc: imageSrc }));
    
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            // Handle the response if needed
                            console.log("Image uploaded successfully");
                              // Redirect to the profile page
                        window.location.href = "{% url 'profile' %}";
                        } else {
                            // Handle error responses
                            console.error("Error uploading image");
                        }
                    }
                };
            } else {
                console.log("No image to upload");
            }
        }
  
    </script>
        <footer class="pl-4">
            <div>Powered by Civicnexa software ©
                <script>new Date().getFullYear() > 2017 && document.write(new Date().getFullYear());</script>
            </div>

        </footer>
    </section>
</body>

</html>