<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Identification</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <section class="flex flex-col justify-between h-[100vh] w-full">
        <div class="flex flex-col items-center w-full">
            <div class=" ">
                <h1 class="text-[36px] font-bold mt-10">Generate Health Code</h1>
            </div>
            <div class="mt-10 text-[28px]">
                <h2>Fingerprint Identification</h2>

            </div>

            <div class="flex flex-col items-center">
                <div class=" w-[80%] md:w-[100%]">
                    <button class="rounded border bg-[#008080] w-[200px] text-white p-3 mt-6">Scan</button>
                </div>
               
              </div>
    
                    <div class="hidden flex flex-col items-center">
                        <div>
                            <button class="rounded border border-[#008080] w-[100%] md:w-[100%] text-white p-3 mt-6">Scan Again</button>
                        </div>
                        <div class="w-[100%] md:w-[100%]">
                            <button class="rounded border bg-[#008080] w-[200px]  text-white p-3 mt-6"><a href='{% url "face" %}'>Go To Profile</a></button>
                        </div>
                    </div>
        </div>

        <footer class="pl-4">
            <div>Powered by Civicnexa software ©
                <script>new Date().getFullYear() > 2017 && document.write(new Date().getFullYear());</script>
            </div>

        </footer>
    </section>
</body>
</html>