{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}">
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>
<body class=" bg-[#F4F7FB] min-h-screen" style="background: #F4F7FB;">
    <div class="flex overflow-x-hidden total">
        {% include "aside.html" %}
        <div class="flex-grow text-gray-800 w-[80%]">
        
            {% include "header.html" %}
            <main>
                {% block content %}




                {% endblock content %}
            </main>
        </div>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>