{% extends "main.html" %}
{% block content %}
   <!-- payment  -->
    <section class="w-full hidden" id="page2" >
        <div class="flex justify-between">
            <h1 class="font-normal text-[32px]">Fees</h1>
            <img src="./images/3.png" alt="">
        </div>

        <section class="flex w-full justify-between">
            <div class="w-2/5">
                <div class="flex justify-between my-2">
                    <h3>Business/Trade Operating Fees</h3>
                    <p>></p>
                </div>
                <div class="flex justify-between cursor-pointer" onclick="showModal()">
                    <h3>Contract Document And Tender Fees</h3>
                    <p>></p>
                </div>
                <div class="flex justify-between my-2">
                    <h3>Inspection Fees</h3>
                    <p>></p>
                </div>
                <div class="flex justify-between">
                    <h3>Contract Document And Tender Fees
                    </h3>
                    <p>></p>
                </div>
            </div>


            <div class="w-2/5">
                <div class="flex justify-between my-2">
                    <h3>Contractor Registration Fees
                    </h3>
                    <p>></p>
                </div>
                <div class="flex justify-between">
                    <h3>Examinations Documents Contract Tender Fees</h3>
                    <p>></p>
                </div>
                <div class="flex justify-between my-2">
                    <h3>Marriage/ Divorce Fees

                    </h3>
                    <p>></p>
                </div>
                <div class="flex justify-between">
                    <h3>Timber & Forest Fees
                    </h3>
                    <p>></p>
                </div>
            </div>
        </section>
    </section>
                <!-- end payment  -->
{% endblock content %}