<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/profile.css">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>

<body class=" bg-[#F4F7FB] min-h-screen" style="background: #F4F7FB;">
    <div class="flex overflow-x-hidden total">
        <!-- sidebar  -->
        <aside class="hidden md:hidden lg:flex sm:flex-col w-[12%] bg-[#D5D5D5] h-full">
            <a href="#" class="flex items-center justify-center h-20 w-[100%] hover:bg-purple-500 focus:bg-purple-500">
                <img src="./images/image 1.png" alt="">
            </a>
            <div class="flex flex-col justify-between text-black h-[90vh]">
                <nav class="flex flex-col justify-center mx-2 my-6 space-y-4 sidebar">

                    <button href="#"
                        className="inline-flex flex-col items-center justify-center py-1 hover:text-white hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                        onclick="showPage1()">
                        <div class="ico"> <img src="../img/dash.png" alt="" class="w-5"></div>
                        <p class="text-[#008080]">Overview</p>
                    </button>
                    <button href="#"
                        className="inline-flex flex-col items-center justify-center py-1 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                        onclick="showPage2()">
                        <div class="ico"> </div>
                        <p class="">Accounts</p>
                    </button>

                    <button href="#"
                        className="inline-flex flex-col items-center justify-center py-1 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button">
                        <div class="ico"> </div>
                        <p class="">Settings</p>
                    </button>



                </nav>
                <div class="inline-flex items-center justify-center h-20 w-20 border-gray-700">
                    <button href="#"
                        className="inline-flex flex-col items-center justify-center py-1 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg sidebar-button"
                        data-page="page2">
                        <div class="ico"> <i data-feather="circle" class="w-5"></i></div>
                        <p class="">Log Out</p>
                    </button>
                </div>
            </div>
        </aside>
        <!-- end sidebar  -->

        <div class="flex-grow text-gray-800 w-[80%]">
            <!-- header  -->
            <header class="flex h-20 px-6 sm:px-10 flex-row justify-between items-center  border-b-4">
                <div class="flex items-center">
                    <div class="profile_image">
                        <img src="./images/ppp.png" alt="">
                    </div>
                    <div>
                        <h2>CIROMA, Chukwuma Adekunle</h2>
                        <p>Health Personnel</p>
                    </div>
                </div>
                <div class="flex justify-between w-2/5">
                    <div class="inp">
                        <!-- <i class="icon-bell" style="color: red;"></i> -->
                        <img src="./images/search.png" alt="">
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="flex items-center w-1/5 justify-between">
                        <img src="./images/sett.png" alt="" class="w-[20px] h-[20px]">
                        <img src="./images/bell.png" alt="" class="w-[20px] h-[20px]">
                    </div>
                </div>

            </header>

            <!-- end header -->

            <main class="overflow-x-hidden p-10 w-full">
                <div class="w-full flex">
                    <div class="w-4/5 flex flex-col items-center ">
                        <button class="bg-[#008080] w-[200px] p-2 text-white rounded">Look up a Profile</button>
                        <div>
                            <div class="google-map">
                                <iframe src="[your unique google URL] " width="600" height="450" style="border:0;"
                                    allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="2/5">
                        <div>
                            <h1>RESPONSE UNIT</h1>
                        </div>
                        <div>
                            <h2>Mediplus Health Centre</h2>
                            <div class="flex justify-between text-[14px]">
                                <div>
                                    <p>1.5km</p>
                                </div>
                                <div class="flex items-center text-[red]">
                                    <p>.</p>
                                    <p>Not Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </main>
        </div>
    </div>

    <script src="./js/index.js"></script>
    <script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
</body>

</html>